# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science.
- Introduce commonly used libraries in Data Science.
- Explore development environment open source tools used in Data Science.
- Demonstrate evaluation of arithmetic expressions in Python.
- Convert minutes to hours using Python code.

## Author

Felipe Teles

### Some of the popular languages that Data Scientists use are:


1. Python
2. R
3. SQL

### Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib

### Some Data Science Tools
<div align="right">

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Spyder             |

</div>

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This is a simple arithmetic expression to multiply then add integers.

result = (3 * 4) + 5
print("Result:", result)

Result: 17

In [3]:
# This will convert 200 minutes to hours by dividing by 60.

minutes = 200
hours = minutes / 60
print("200 minutes is equal to", hours, "hours")

200 minutes is equal to 3.3333333333333335 hours